input[type="radio"].estado{
    display: none;
}

.ui-autocomplete {
    z-index: 3000 !important;
}

.estado + label{
    width: 50%;
    padding: 0.5em;
    line-height: 1;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.estado:checked + label {
    background-color: #55d9cb;
    color: #fff;
    border-color: #28d3c1;
}
.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loading.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .4;
}
.selected:hover{
    background-color: #0585C0 !important;
    color: white !important;
}
.selected{
    background-color: #0066cc;
    color: white;
}

/* Estilos para el boton toggle (switch) */
.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width:30px;
    height:15px;
    margin:5px;    
    position:relative;
}

.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 2px #777, 0 0 4px #777;
    cursor:pointer;
    border:2px solid transparent;
    overflow:hidden;
     transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#777;
    border-radius:30px;
    transform:translateX(-15px);
    transition:.4s;
}

input:checked + .slider:before {
    transform:translateX(15px);
    background:limeGreen;
}
input:checked + .slider {
    box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}

.btn-line {
    display: inline;
    max-width: 60px;
    min-width: 60px;
}